@charset "UTF-8";
html {
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: calc(1000px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

* {
  line-height: 1.8;
  font-family: "hiragino-mincho-pron", sans-serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

@media screen and (max-width: 767px) {
  body {
    background-color: #F6F6F6;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* ================================
共通パーツ
=============================== */
.section-space {
  padding-top: 60px;
  padding-bottom: 60px;
}

.margin-t-1 {
  margin-top: 24px;
}

.margin-b-1 {
  margin-bottom: 24px;
}

.margin-t-2 {
  margin-top: 40px;
}

.margin-b-2 {
  margin-bottom: 40px;
}

.section-title {
  position: relative;
  font-size: 42px;
  font-weight: 300;
  padding-bottom: 30px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 253px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background: #000;
}

.text-transform-up {
  text-transform: uppercase;
}

.text-align-c {
  text-align: center;
}

.card-shadow {
  -webkit-box-shadow: 3.8px 3.8px 8px #bbb7b7;
          box-shadow: 3.8px 3.8px 8px #bbb7b7;
}

.display-grid {
  display: grid;
}

.display-grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.display-grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.btn_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
}

.cta-btn {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  max-width: 246px;
  width: 100%;
  line-height: 1;
  padding: 16px 16px;
  position: relative;
  white-space: nowrap;
  font-size: 16px;
  background: #6e8895;
  overflow: hidden;
}

.cta-btn__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta-btn img {
  width: 16px;
}

.cta-btn:hover {
  text-decoration: none;
}

.cta-btn::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fbfbfb;
  -webkit-animation: btn_animation 2.5s ease-in-out infinite;
          animation: btn_animation 2.5s ease-in-out infinite;
}

.cta-animation {
  position: relative;
  overflow: hidden;
}

.cta-animation:hover {
  text-decoration: none;
}

.cta-animation::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fbfbfb;
  -webkit-animation: btn_animation 2.5s ease-in-out infinite;
          animation: btn_animation 2.5s ease-in-out infinite;
}

@-webkit-keyframes btn_animation {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .section-space {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .margin-t-1 {
    margin-top: 16px;
  }
  .margin-b-1 {
    margin-bottom: 16px;
  }
  .margin-t-2 {
    margin-top: 24px;
  }
  .margin-b-2 {
    margin-bottom: 24px;
  }
  .section-title {
    font-size: 32px;
    padding-bottom: 24px;
    margin-bottom: 32px;
  }
  .section-title::after {
    width: 160px;
  }
  .card-shadow {
    -webkit-box-shadow: 3.8px 3.8px 4px #bbb7b7;
            box-shadow: 3.8px 3.8px 4px #bbb7b7;
  }
  .cta-btn {
    max-width: 300px;
  }
}
/* ================================
ページ全体レイアウト
=============================== */
.kv__image {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.kv__inner {
  position: relative;
}

.kv__logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
}

.kv__texts {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  /* ドロップシャドウ */
  width: 37.578125vw;
}

.kv__texts--main {
  line-height: 1.5;
  letter-spacing: 0.2em;
}

.kv__texts--sub {
  font-size: 0.6em;
  line-height: 1.5;
  margin-top: 16px;
  letter-spacing: 0.1em;
}

.cta__contents {
  position: relative;
  max-width: 610px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.cta__btn {
  position: absolute;
  left: 68%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 246px;
}

.cta._02 .cta__btn {
  left: 31%;
}

.cta-02__pc-wrapper {
  max-width: 604px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.cta-02__top-text {
  width: 100vw;
  max-width: 100vw;
  max-width: 767px;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
}

.cta-02__middle-text {
  font-size: 14px;
  margin-bottom: 8px;
}

.cta-02__card {
  -webkit-box-shadow: 3.48px 7.24px 10px 0px rgba(132, 133, 128, 0.84);
          box-shadow: 3.48px 7.24px 10px 0px rgba(132, 133, 128, 0.84);
  margin-bottom: 16px;
  max-width: 698px;
  margin-right: auto;
  margin-left: auto;
}

.cta-02__bottom-text {
  font-size: 20px;
  margin-bottom: 16px;
}

.cta-02__bottom-text span {
  position: relative;
  display: inline-block;
}

.cta-02__bottom-text span::before,
.cta-02__bottom-text span::after {
  position: absolute;
  display: block;
  content: "";
  background: #000;
}

.cta-02__bottom-text span::before {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.cta-02__bottom-text span::after {
  width: 10px;
  height: 8px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0%);
          clip-path: polygon(0 0, 50% 100%, 100% 0%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cta-02__btn {
  width: 100%;
  position: absolute;
  bottom: 15%;
  left: 39%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 246px;
}

.sec-01 {
  margin-top: 40px;
}

.sec-01__image {
  max-width: 353px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.sec-01__image video {
  aspect-ratio: 353/203;
  width: 100%;
  display: block;
}

.sec-02 {
  padding-top: 100px;
}

.sec-02__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.sec-02 .section-title {
  text-align: left;
}

.sec-02 .section-title::after {
  -webkit-transform: none;
          transform: none;
  left: 0;
}

.sec-02__images {
  max-width: 50%;
  position: relative;
  display: block;
}

.sec-02__images video {
  width: 100%;
}

.sec-02__image.__01 {
  top: 0;
  left: 0;
}

.sec-02__image.__02 {
  top: 10%;
  right: 0;
  width: 48.6394557823%;
  z-index: 1;
}

.sec-02__image.__03 {
  bottom: 0;
  left: 20%;
}

.sec-03__card {
  text-align: center;
  padding: 30px 16px;
  background-color: #fff;
}

.sec-03__card + .sec-03__card {
  margin-top: 30px;
}

.sec-03__card-head {
  margin-bottom: 30px;
  text-align: center;
  color: #3c5b6c;
  font-weight: 300;
  font-size: 22px;
}

.sec-03__card-head .line {
  position: relative;
  display: inline-block;
  padding: 3px 16px;
}

.sec-03__card-head .line::before,
.sec-03__card-head .line::after {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-top: 1px solid #3c5b6c;
  border-bottom: 1px solid #3c5b6c;
}

.sec-03__card-head .line::before {
  top: 0;
}

.sec-03__card-head .line::after {
  bottom: 0;
}

.sec-03__card-images {
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sec-04__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 70px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-04__item {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 36px 25px 24px;
  max-width: 418px;
  width: 100%;
}

.sec-04__item::before,
.sec-04__item::after {
  position: absolute;
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 40px;
}

.sec-04__item::before {
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  border-top: 2px solid #3c5b6c;
  border-left: 2px solid #3c5b6c;
}

.sec-04__item::after {
  bottom: 0;
  right: 0;
  -webkit-transform: translate(50%, 25%);
          transform: translate(50%, 25%);
  border-bottom: 2px solid #3c5b6c;
  border-right: 2px solid #3c5b6c;
}

.sec-04__item-number {
  position: absolute;
  width: 121px;
  z-index: -1;
  top: 20px;
  left: 25px;
}

.sec-04__item-head {
  text-align: center;
  font-size: 26px;
  color: #3c5b6c;
  margin-bottom: 26px;
}

.sec-04__item:nth-child(1) .sec-04__item-head {
  margin-bottom: 73px;
}

.sec-04__item-description {
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  letter-spacing: 0.05em;
}

.sec-05 {
  background-color: transparent;
  background-image: url(../image/flow-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sec-05__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.sec-05__item + .sec-05__item {
  margin-top: 20px;
}

.sec-05__item-step {
  max-width: 88px;
  width: 100%;
}

.sec-05__item-arrow {
  max-width: 27px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 34px;
}

.sec-05__item-card {
  width: 100%;
  background: #fff;
  padding: 28px 30px;
  margin-top: 20px;
}

.sec-05__item-head {
  text-align: center;
  color: #3c5b6c;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 25px;
}

.sec-05__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-05__item-description {
  font-size: 19px;
  width: 70%;
  text-align: justify;
}

.sec-05__item-description .small {
  font-size: 0.8em;
}

.sec-05__item-image {
  width: 25%;
}

.sec-06__text-contents {
  gap: 24px 12px;
  margin-bottom: 70px;
  grid-template-rows: repeat(2, 1fr);
}

.sec-06__item {
  background-color: #9e9a9a;
  color: #fff;
  padding: 16px;
}

.sec-06__item-head {
  margin-bottom: 24px;
  font-size: 20px;
}

.sec-06__item-list li {
  font-size: 14px;
  padding-left: 18px;
  position: relative;
  line-height: 1.5;
}

.sec-06__item-list li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 10px;
  height: 2px;
  background: #fff;
}

.sec-06__item-list li + li {
  margin-top: 10px;
}

.sec-06__col-wrapper {
  overflow-x: scroll;
}

.sec-06__col-container p {
  color: #3c5b6c;
  font-size: 14px;
  margin-top: 10px;
}

.sec-06__calcel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 38px;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}

.sec-07__description {
  font-size: 32px;
  margin-bottom: 54px;
}

.sec-07__card {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-07__card-image {
  width: 32%;
}

.sec-07__card-image picture {
  display: block;
  height: 100%;
}

.sec-07__card-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec-07__card + .sec-07__card {
  margin-top: 80px;
}

.sec-07__card-body {
  padding: 30px 40px;
  background: #fff;
  width: 68%;
  text-align: center;
}

.sec-07__card-head {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.sec-07__card-head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
}

.sec-07__card-head-main {
  font-size: 32px;
  font-family: "utile-display", sans-serif;
  font-weight: 300;
  line-height: 1;
}

.sec-07__card-price {
  font-size: 24px;
  color: #c14040;
}
.sec-07__card-price .strong {
  font-weight: 600;
  font-size: 1.5em;
}
.sec-07__card-price .small {
  font-size: 0.75em;
}

.sec-07__card-description {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.sec-07__card-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.sec-07__card-item {
  max-width: 128px;
  width: 100%;
}

.sec-07__card-item-icon {
  max-width: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
}

.sec-07__card-item-text {
  font-size: 16px;
}

.sec-07__card-alert {
  color: #3c5b6c;
  font-size: 16px;
  position: relative;
  padding-left: 30px;
  display: inline-block;
}

.sec-07__card-alert::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.sec-07__card-list {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.sec-07__card-list li:nth-child(odd) {
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
  margin-right: 10px;
}

.sec-07__card-list li {
  font-size: 20px;
  line-height: 2;
  position: relative;
  padding-left: 20px;
}

.sec-07__card-list li::before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}

.sec-08 {
  background-color: #F6F6F6;
  padding-bottom: 120px;
}

.sec-08__item-quastion,
.sec-08__item-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sec-08__item-quastion {
  background-color: #ECECEC;
}

.sec-08__item-answer {
  background-color: #fff;
}

.sec-08__item-icon {
  font-size: 32px;
}

.sec-08__item-description {
  font-size: 20px;
}

.sec-08__item-answer p {
  color: #3c5b6c;
}

.sec-08__item-head,
.sec-08__item-description {
  padding-top: 12px;
  font-weight: 300;
}

.sec-09 {
  background-image: url(../image/finish-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.sec-09 .section-title {
  margin-bottom: 60px;
}

.sec-09__inner {
  max-width: 812px;
}

.sec-09__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.sec-09__text > p {
  text-align: left;
}

.sec-09__text > p:first-child {
  margin-bottom: 50px;
}

.sec-09__text {
  margin-bottom: 70px;
}

.sec-o9__image {
  max-width: 252px;
  margin-right: auto;
  margin-left: auto;
}

.fix-contents {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100%;
  max-width: 320px;
  z-index: 1024;
}

.fix-contents a {
  display: block;
  width: 100%;
}

/* =======================
PC用背景
======================= */
.about-bg-wrapper {
  background-image: url(../image/pc/about-bg-PC.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 60px;
}

.example-bg-wrapper {
  background-image: url(../image/pc/example-bg-PC.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.flow-bg-wrapper {
  background-color: #F6F6F6;
  padding-bottom: 80px;
}

.area-bg-wrapper {
  background-image: url(../image/pc/area-bg-pc.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.plan-bg-wrapper {
  background-image: url(../image/plan-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}

/* ================================
スマホレイアウト
=============================== */
@media screen and (max-width: 767px) {
  .kv {
    margin-bottom: 40px;
  }
  .kv__logo {
    top: 20px;
    left: 20px;
    width: 120px;
  }
  .kv__texts {
    top: 20%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 82.5333333333vw;
  }
  .kv__texts--main {
    line-height: 1.5;
  }
  .kv__texts--sub {
    line-height: 1.5;
    margin-top: 0.7em;
  }
  .cta__contents {
    max-width: 704px;
  }
  .cta__btn {
    left: 50%;
    bottom: 10%;
    max-width: 100%;
  }
  /* =======================
  PC用背景
  ======================= */
}
@media screen and (max-width: 767px) and (max-width: 531px) {
  .cta__btn {
    bottom: 5%;
  }
}
@media screen and (max-width: 767px) {
  .cta-02 {
    background: #e9eae2;
    padding: 30px 0;
  }
  .cta-02__top-text {
    margin-left: calc(50% - 50vw);
  }
  .sec-02__description {
    font-size: 15px;
  }
  .cta-02__pc-wrapper {
    max-width: 100%;
  }
  .cta-02__btn {
    width: 100%;
    position: static;
    -webkit-transform: none;
            transform: none;
    max-width: 100%;
  }
  .sec-01 {
    margin-top: 0;
  }
  .sec-01__image {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  .sec-01__image video {
    aspect-ratio: 1024/565;
  }
  .sec-02 {
    background-image: url(../image/about-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
  }
  .sec-02__inner {
    display: block;
  }
  .sec-02 .section-title {
    text-align: center;
  }
  .sec-02 .section-title::after {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
  .sec-02__description {
    text-align: center;
  }
  .sec-02__images {
    max-width: 100%;
  }
  .sec-02__images::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 135.7798165138%;
  }
  .sec-02__image {
    position: absolute;
    width: 47.7064220183%;
  }
  .sec-03 {
    background-image: url(../image/example-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .sec-03__card-head {
    font-size: 20px;
  }
  .sec-03__card-images {
    gap: 4px;
  }
  .sec-03__card.__01 .sec-03__card-images {
    grid-template-rows: auto;
    grid-template-columns: 37.4213836478% 1fr 1fr;
  }
  .sec-03__card.__01 .sec-03__card-image:nth-child(1) {
    grid-area: 1/2/4/4;
  }
  .sec-03__card.__01 .sec-03__card-image:nth-child(2) {
    grid-area: 3/1/4/2;
  }
  .sec-03__card.__01 .sec-03__card-image:nth-child(3) {
    grid-area: 1/1/3/2;
  }
  .sec-03__card.__02 .sec-03__card-images {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 37.4213836478%;
  }
  .sec-03__card.__02 .sec-03__card-image:nth-child(1) {
    grid-area: 1/1/4/3;
  }
  .sec-03__card.__02 .sec-03__card-image:nth-child(2) {
    grid-area: 3/3/4/4;
  }
  .sec-03__card.__02 .sec-03__card-image:nth-child(3) {
    grid-area: 1/3/3/4;
  }
  .sec-03__card.__03 .sec-03__card-images {
    grid-template-rows: auto;
    grid-template-columns: 32.2% 1fr 1fr;
  }
  .sec-03__card.__03 .sec-03__card-image:nth-child(1) {
    grid-area: 1/2/5/5;
  }
  .sec-03__card.__03 .sec-03__card-image:nth-child(2) {
    grid-area: 1/1/3/2;
  }
  .sec-03__card.__03 .sec-03__card-image:nth-child(3) {
    grid-area: 3/1/5/2;
  }
  .sec-04 {
    background-image: url(../image/reason-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .sec-04__body {
    display: block;
  }
  .sec-04__item-number {
    top: 10px;
    left: 15px;
    width: 28%;
  }
  .sec-04__item-head {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .sec-04__item:nth-child(1) .sec-04__item-head {
    margin-bottom: 10px;
  }
  .sec-04__item + .sec-04__item {
    margin-top: 80px;
  }
  .sec-05__item {
    position: relative;
  }
  .sec-05__item-step {
    width: 60px;
    top: 0;
    left: 0;
    position: absolute;
  }
  .sec-05__item-number {
    -webkit-box-shadow: 0 0 4px #ccc;
            box-shadow: 0 0 4px #ccc;
    border-radius: 50%;
  }
  .sec-05__item-arrow {
    display: none;
  }
  .sec-05__item-card {
    padding: 16px 20px;
    margin-top: 20px;
    width: 100%;
    margin-left: 15px;
  }
  .sec-05__item-description {
    font-size: 16px;
    width: 100%;
  }
  .sec-05__item-description .small {
    font-size: 0.75em;
  }
  .sec-05__item-head {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .sec-05__item-image {
    display: none;
  }
  .sec-06 {
    background-image: url(../image/area-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .sec-06__calcel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
    min-width: 1600px;
    max-width: none;
    margin: 8px;
  }
  .sec-07__card {
    max-width: 674px;
    display: block;
  }
  .sec-07__card-image {
    width: 100%;
  }
  .sec-07__card-image picture {
    height: auto;
  }
  .sec-07__card-image img {
    height: auto;
  }
  .sec-07__card-body {
    padding: 20px;
    width: 100%;
    text-align: left;
  }
  .sec-07__description {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .sec-07__card-head {
    display: block;
  }
  .sec-07__card-head-main {
    font-size: 24px;
  }
  .sec-07__card-description {
    margin-bottom: 20px;
    text-align: left;
  }
  .sec-07__card-contents {
    margin-bottom: 20px;
  }
  .sec-07__card-item {
    max-width: calc((100% - 32px) / 3);
  }
  .sec-07__card-list {
    margin-bottom: 40px;
  }
  .sec-07__card-alert {
    display: block;
    font-size: 14px;
    padding-left: 20px;
  }
  .sec-08 {
    padding-bottom: 100px;
  }
  .sec-09 {
    padding-bottom: 80px;
  }
  .sec-09 .section-title {
    margin-bottom: 24px;
  }
  .sec-09__body {
    display: block;
  }
  .sec-09__text > p {
    text-align: center;
  }
  .sec-09__text > p:first-child {
    margin-bottom: 40px;
  }
  .sec-o9__image {
    max-width: 392px;
  }
  .fix-contents {
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
    max-width: 100%;
  }
  .fix-contents__image {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) and (min-width: 751px) {
  .fix-contents {
    background-color: #4ca62f;
  }
  .fix-contents__image {
    margin-top: -28px;
  }
}
@media screen and (max-width: 767px) {
  .about-bg-wrapper,
  .example-bg-wrapper,
  .area-bg-wrapper {
    background-image: none;
    padding: 0;
  }
  .flow-bg-wrapper,
  .plan-bg-wrapper {
    padding-bottom: 40px;
  }
}