@charset "UTF-8";
html {
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

.inner {
  width: 100%;
  max-width: calc(1000px + 3.125rem);
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.only-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .only-pc {
    display: none;
  }
}

a {
  text-decoration: none;
}

* {
  line-height: 1.8;
  font-family: "hiragino-mincho-pron", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* a 要素のリセット */
a {
  text-decoration: none;
  color: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
*/
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* ================================
共通パーツ
=============================== */
.section-space {
  margin-top: 60px;
  margin-bottom: 60px;
}

.margin-t-1 {
  margin-top: 24px;
}

.margin-b-1 {
  margin-bottom: 24px;
}

.margin-t-2 {
  margin-top: 40px;
}

.margin-b-2 {
  margin-bottom: 40px;
}

.section-title {
  position: relative;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 32px;
  line-height: 1;
  margin-bottom: 24px;
  text-align: center;
}

.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background: #000;
}

.text-transform-up {
  text-transform: uppercase;
}

.text-align-c {
  text-align: center;
}

.card-shadow {
  -webkit-box-shadow: 8px 8px #9E9A9A;
          box-shadow: 8px 8px #9E9A9A;
}

.display-grid {
  display: grid;
}

.display-grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.display-grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.cta-btn {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  max-width: 300px;
  width: 100%;
  line-height: 1;
  padding: 16px 16px;
  position: relative;
  white-space: nowrap;
  font-size: 16px;
  background: #3c5b6c;
}

.cta-btn__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta-btn img {
  width: 16px;
}

@media screen and (max-width: 767px) {
  .section-space {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .margin-t-1 {
    margin-top: 16px;
  }
  .margin-b-1 {
    margin-bottom: 16px;
  }
  .margin-t-2 {
    margin-top: 24px;
  }
  .margin-b-2 {
    margin-bottom: 24px;
  }
  .section-title {
    font-size: 24px;
    padding-bottom: 24px;
    margin-bottom: 16px;
  }
  .section-title::after {
    width: 60px;
  }
  .card-shadow {
    -webkit-box-shadow: 4px 4px #9E9A9A;
            box-shadow: 4px 4px #9E9A9A;
  }
}
/* ================================
ページ全体レイアウト
=============================== */
.kv__image {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.kv__inner {
  position: relative;
}

.kv__logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}

.kv__texts {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20%;
  text-align: center;
  color: #fff;
  font-weight: 600;
  text-shadow: 0 0 8px #ECECEC;
  white-space: nowrap;
}

.kv__texts--main {
  font-size: 32px;
  line-height: 1.5;
}

.kv__texts--sub {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 16px;
}

.cta__contents {
  position: relative;
}

.cta__btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.cta-02 {
  background: #e9eae2;
  padding: 0 30px;
}

.cta-02__top-text {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.cta-02__bottom-text {
  font-size: 20px;
  margin-bottom: 16px;
}

.cta-02__bottom-text span {
  position: relative;
  display: inline-block;
}

.cta-02__bottom-text span::before,
.cta-02__bottom-text span::after {
  position: absolute;
  display: block;
  content: "";
  background: #000;
}

.cta-02__bottom-text span::before {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.cta-02__bottom-text span::after {
  width: 10px;
  height: 10px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0%);
          clip-path: polygon(0 0, 50% 100%, 100% 0%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cta-02__btn {
  width: 100%;
}

.sec-01__image {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.sec-02__images {
  position: relative;
  display: block;
}

.sec-02__images::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 135.7798165138%;
}

.sec-02__image {
  position: absolute;
  width: 47.7064220183%;
}

.sec-02__image.__01 {
  top: 0;
  left: 0;
}

.sec-02__image.__02 {
  top: 10%;
  right: 0;
  z-index: 1;
}

.sec-02__image.__03 {
  bottom: 0;
  left: 20%;
}

.sec-03__card {
  text-align: center;
}

.sec-03__card-head {
  margin-bottom: 16px;
  text-align: center;
  color: #3c5b6c;
  font-weight: 600;
}

.sec-03__card-images {
  gap: 8px;
}

.sec-03__card.__01 .sec-03__card-images {
  grid-template-rows: auto;
  grid-template-columns: 37.4213836478% 1fr 1fr;
}
.sec-03__card.__01 .sec-03__card-image:nth-child(1) {
  grid-area: 1/2/4/4;
}
.sec-03__card.__01 .sec-03__card-image:nth-child(2) {
  grid-area: 3/1/4/2;
}
.sec-03__card.__01 .sec-03__card-image:nth-child(3) {
  grid-area: 1/1/3/2;
}

.sec-03__card.__02 .sec-03__card-images {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 37.4213836478%;
}
.sec-03__card.__02 .sec-03__card-image:nth-child(1) {
  grid-area: 1/1/4/3;
}
.sec-03__card.__02 .sec-03__card-image:nth-child(2) {
  grid-area: 3/3/4/4;
}
.sec-03__card.__02 .sec-03__card-image:nth-child(3) {
  grid-area: 1/3/3/4;
}

.sec-03__card.__03 .sec-03__card-images {
  grid-template-rows: auto;
  grid-template-columns: 32.0512820513% 1fr 1fr;
}
.sec-03__card.__03 .sec-03__card-image:nth-child(1) {
  grid-area: 1/2/5/5;
}
.sec-03__card.__03 .sec-03__card-image:nth-child(2) {
  grid-area: 1/1/3/2;
}
.sec-03__card.__03 .sec-03__card-image:nth-child(3) {
  grid-area: 3/1/5/2;
}

/* ================================
スマホレイアウト
=============================== */
@media screen and (max-width: 767px) {
  .kv__logo {
    top: 20px;
    left: 20px;
    width: 100px;
  }
  .kv__texts {
    top: 20%;
    text-shadow: 0 0 8px #ECECEC;
  }
  .kv__texts--main {
    font-size: 28px;
    line-height: 1.5;
  }
  .kv__texts--sub {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
  }
}