@use "../global" as *;
/* ================================
共通パーツ
=============================== */ 
// 余白
.section-space {
  padding-top: 60px;
  padding-bottom: 60px;
}
.margin-t-1 {
  margin-top: 24px;
}
.margin-b-1 {
  margin-bottom: 24px;
}
.margin-t-2 {
  margin-top: 40px;
}
.margin-b-2 {
  margin-bottom: 40px;
}

// タイトル
.section-title {
  position: relative;
  font-size: 42px;
  font-weight: $normal;
  padding-bottom: 30px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}
.section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 253px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background: $color-black;
}
// テキストスタイル
.text-transform-up {
  text-transform: uppercase;
}
.text-align-c {
  text-align: center;
}
// シャドウ
.card-shadow {
  box-shadow: 3.8px 3.8px 4px $color-card-gray-bg ;
}
// レイアウト
.display-grid {
  display: grid;
}
.display-grid-col-2 {
  grid-template-columns: repeat(2,1fr);
}
.display-grid-col-3 {
  grid-template-columns: repeat(3,1fr);
}
// ボタン
.cta-btn {
  display: inline-block;
  color: $color-white;
  font-weight: $bold;
  max-width: 300px;
  width: 80%;
  line-height: 1;
  padding: 16px 16px;
  position: relative;
  white-space: nowrap;
  font-size: 16px;
  background: $color-btn-bg;
}
.cta-btn__contents {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.cta-btn img {
  width: 16px;
}
@include mq(md) {
  // 余白
  .section-space {
    padding-top: 40px;
    padding-bottom: 40px;
  } 
  .margin-t-1 {
    margin-top: 16px;
  }
  .margin-b-1 {
    margin-bottom: 16px;
  }
  .margin-t-2 {
    margin-top: 24px;
  }
  .margin-b-2 {
    margin-bottom: 24px;
  }
  // タイトル
  .section-title {
    font-size: 32px;
    padding-bottom: 24px;
    margin-bottom: 32px;
  }
  .section-title::after {
    width: 160px;
  }
  // シャドウ
  .card-shadow {
    box-shadow: 3.8px 3.8px 4px $color-card-gray-bg ;
  }
}