@use "../global" as *;
/* ================================
ページ全体レイアウト
=============================== */ 
// キービジュアル
.kv__image {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
}
.kv__inner {
    position: relative;
}
.kv__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}
.kv__texts {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  text-align: center;
  color: $color-white;
  font-weight: $bold;
  // text-shadow: 0 0 8px $color-light-gray;
  white-space: nowrap;
  /* ドロップシャドウ */
  box-shadow:  -1.8px 0.9px 8px rgba(43, 31, 26, 0.95), /* 157°の影 */
  0 0 13px rgba(231, 224, 215, 0.36); /* 光彩（外側）を再現 */
}
.kv__texts--main {
    font-size: 32px;
    line-height: 1.5;
}
.kv__texts--sub {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 16px;
}

// cta 
.cta__contents {
    position: relative;
    max-width: 704px;
    margin-right:auto;
    margin-left:auto;
}
.cta__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 100%;
    text-align: center;
}
// cta-02
.cta-02 {
  background: $color-yellow-bg;
  padding:30px 0;
}
.cta-02__top-text {
  width: 100vw;
  max-width: 100vw;
  max-width: 767px;
  margin-bottom: 16px;
  margin-right:auto;
  margin-left:auto;
}
.cta-02__middle-text {
  font-size: 14px;
  margin-bottom: 8px;
}
.cta-02__card {
  box-shadow: 3.48px 7.24px 10px 0px rgba(132, 133, 128, 0.84);
  margin-bottom: 16px;
  max-width: 698px;
  margin-right:auto;
  margin-left:auto;
}
.cta-02__bottom-text {
  font-size: 20px;
  margin-bottom: 16px;
}
.cta-02__bottom-text span{
  position: relative;
  display: inline-block;
}
.cta-02__bottom-text span::before,
.cta-02__bottom-text span::after{
  position: absolute;
  display: block;
  content: "";
  background: $color-black;
}
.cta-02__bottom-text span::before {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}
.cta-02__bottom-text span::after {
  width: 10px;
  height: 8px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0 0, 50% 100%, 100% 0%);
  box-sizing: border-box;
}
.cta-02__btn {
  width: 100%;
}
// sec-01
.sec-01__image {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

// sec-02 
.sec-02 {
  background-image: url(../image/about-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sec-02__images {
    position: relative;
    display: block;
}
.sec-02__images::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: calc(444 / 327 * 100%) ;
}
.sec-02__image {
    position: absolute;
    width: calc( 156 / 327 * 100% );
}
.sec-02__image.__01 {
    top: 0;
    left: 0;
}
.sec-02__image.__02 {
    top: 10%;
    right: 0;
    z-index: 1;
}
.sec-02__image.__03 {
    bottom: 0;
    left: 20%;
}
// sec-03
.sec-03 {
  background-image: url(../image/example-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sec-03__card {
  text-align: center;
  padding: 30px 16px;
  background-color: $color-white;
}
.sec-03__card + .sec-03__card {
  margin-top: 30px;
}
.sec-03__card-head {
  margin-bottom: 30px;
  text-align: center;
  color: $color-blue;
  font-weight: $normal;
  font-size: 20px;
}
.sec-03__card-images {
    gap: 6px;
}
.sec-03__card.__01 {
  .sec-03__card-images {
    grid-template-rows: auto;
    grid-template-columns: calc(119 / 318 * 100%) 1fr 1fr ;
  }
  .sec-03__card-image:nth-child(1) {
    grid-area: 1 / 2 / 4 / 4; 
  }
  .sec-03__card-image:nth-child(2) {
    grid-area: 3 / 1 / 4 / 2; 
  }
  
  .sec-03__card-image:nth-child(3) {
    grid-area: 1 / 1 / 3 / 2; 
  }
}
.sec-03__card.__02 {
  .sec-03__card-images {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr calc(119 / 318 * 100%)
  }
  .sec-03__card-image:nth-child(1) {
    grid-area: 1 / 1 / 4 / 3; 
  }
  .sec-03__card-image:nth-child(2) {
    grid-area: 3 / 3 / 4 / 4; 
  }
  
  .sec-03__card-image:nth-child(3) {
    grid-area: 1 / 3 / 3 / 4; 
  }
}
.sec-03__card.__03 {
  .sec-03__card-images {
    grid-template-rows: auto;
    grid-template-columns: 32.2% 1fr 1fr ;
  }
  .sec-03__card-image:nth-child(1) {
    grid-area: 1 / 2 / 5 / 5; 
  }
  .sec-03__card-image:nth-child(2) {
    grid-area: 1 / 1 / 3 / 2; 
  }
  
  .sec-03__card-image:nth-child(3) {
    grid-area: 3 / 1 / 5 / 2; 
  }
}
// sec-04
.sec-04 {
  background-image: url(../image/reason-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sec-04__item {
  position: relative;
  z-index: 1;
}
.sec-04__item + .sec-04__item {
  margin-top: 80px;
}
.sec-04__item-number {
  position: absolute;
  width: calc(210 / 750 * 100%);
  z-index: -1;
  top: -40px;
  left: 0;
}
.sec-04__item-head {
  text-align: center;
  font-size: 26px;
  color: $color-blue;
  margin-bottom: 26px;
}
.sec-04__item-description {
  max-width: 540px;
  margin-right:auto;
  margin-left:auto;
  text-align: justify;
}
// sec-05
.sec-05 {
  background-image: url(../image/flow-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sec-05__item {
  display: flex;
  gap: 20px;
}
.sec-05__item + .sec-05__item {
  margin-top: 20px;
}
.sec-05__item-step {
  max-width: 88px;
  width: 100%;
}
.sec-05__item-arrow {
  max-width: 27px;
  width: 100%;
  margin-right:auto;
  margin-left:auto;
  margin-top: 34px;
}
.sec-05__item-card {
  width: 100%;
  background: $color-white;
  padding: 28px 30px;
  margin-top: 20px;
}
.sec-05__item-head {
  text-align: center;
  color: $color-blue;
  font-size: 32px;
  font-weight: $normal;
  margin-bottom: 25px;
}
.sec-05__item-body {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.sec-05__item-description {
  max-width: 300px;
  font-size: 19px;
}
.sec-05__item-image {
  max-width:169px;
}
// sec-06
.sec-06 {
  background-image: url(../image/area-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sec-06__text-contents {
  gap: 24px 12px;
  margin-bottom: 70px;
  grid-template-rows: repeat(2,1fr);
}
.sec-06__item {
 background-color: #9e9a9a; 
 color: $color-white;
 padding: 16px ;
 
}
.sec-06__item-head {
  margin-bottom: 24px;
  font-size: 20px;
}
.sec-06__item-list li {
  font-size: 14px;
  padding-left: 18px;
  position: relative;
  line-height: 1.5;
}
.sec-06__item-list li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 10px;
  height: 2px;
  background: $color-white;
}
.sec-06__item-list li + li {
  margin-top: 10px;
}
.sec-06__col-wrapper {
  overflow-x: scroll;
}
.sec-06__calcel {
  display: flex;
  gap: 20px;
  min-width: 1600px;
  margin: 8px;
}

// sec-07
.sec-06 {
  background-image: url(../image/plan-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sec-07__description {
  font-size: 32px;
  margin-bottom: 54px;
}
.sec-07__card {
  max-width: 674px;
  margin-right:auto;
  margin-left:auto;
}
.sec-07__card + .sec-07__card {
  margin-top: 80px;
}
.sec-07__card-body {
  padding: 30px 20px;
  background: $color-white;
}
.sec-07__card-head {
  font-size: 32px;
}
.sec-07__card-price {
  font-size: 24px;
  color: $color-red;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
  .strong {
    font-weight: $bold;
    font-size: 1.5em;
  }
  .small {
    font-size: 0.75em;
  }
}
.sec-07__card-price::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: $color-black;
}
.sec-07__card-description {
  font-size: 20px;
  margin-bottom: 40px;
}
.sec-07__card-contents {
  display: flex;
  justify-content: center;
  gap:32px 16px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  max-width: 500px;
  margin-right:auto;
  margin-left:auto;
}
.sec-07__card-item {
  max-width: 128px;
  width: 100%;
}
.sec-07__card-item-icon {
  max-width: 90px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 16px;
}
.sec-07__card-item-text {
  font-size: 16px;
  white-space: nowrap;
}
.sec-07__card-alert {
  color: $color-blue;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
}
.sec-07__card-alert::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.sec-07__card-list {
  margin-bottom: 40px;
  border-top: 2px solid $color-black;
  padding-top: 16px;
  margin-top: 16px;
  @media screen and (min-width:580px) {
    column-count: 2;
  }
}
.sec-07__card-list li {
  font-size: 20px;
  line-height: 2;
  position: relative;
  padding-left: 20px;
}
.sec-07__card-list li::before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}
.sec-07__card-list li:nth-child(1) {
  margin-right: 10px;
}

// .sec-08
.sec-08__item-quastion,
.sec-08__item-answer {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.sec-08__item-quastion {
  background-color: $color-light-gray;
  border-bottom: 2px solid $color-black;
}
.sec-08__item-answer {
  background-color: $color-white;
}
.sec-08__item-icon {
  font-size: 32px;
}
.sec-08__item-description {
  font-size: 20px;
}
.sec-08__item-answer p {
  color: $color-blue;
}
// .sec-09 
.sec-09 {
  background-image: url(../image/finish-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sec-09 {
  padding-bottom: 80px
}
.sec-09__body > p:first-child {
  margin-bottom: 40px;
}
.sec-09__text {
  margin-bottom: 70px;
}
.sec-o9__image {
  max-width: 392px ;
  margin-right:auto;
  margin-left:auto;
}
.sec-08__item-head,
.sec-08__item-description {
  padding-top: 12px;
}
// fix-contents 
.fix-contents {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
}
.fix-contents a {
  display: block;
  width: 100%;
}
.fix-contents__image {
  max-width: 750px;
  margin-right:auto;
  margin-left:auto;
}
@media screen and (min-width:751px) {
  .fix-contents {
    background-color: #4ca62f;
  }
  .fix-contents__image {
    margin-top: -28px;
  }
}