@use "../global" as *;
/* ================================
ページ全体レイアウト
=============================== */ 
// キービジュアル
.kv__image {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
}
.kv__inner {
    position: relative;
}
.kv__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 160px;
}
.kv__texts {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform: translate(-50%,-50%);
  top: 50%;
  // text-align: center;
  // color: $color-white;
  // font-weight: $normal;
  // font-size: 40px;
  // white-space: nowrap;
  /* ドロップシャドウ */
  // text-shadow:
  //   0 0 8px rgba(231, 224, 215, 0.8),  
  //   0 0 15px rgba(231, 224, 215, 0.5), 
  //   2px 2px 3px rgba(43, 31, 26, 0.8); 
  width: calc(481 / 1280 * 100vw);
}
.kv__texts--main {
  line-height: 1.5;
  letter-spacing: 0.2em;
}
.kv__texts--sub {
  font-size: 0.6em;
  line-height: 1.5;
  margin-top: 16px;
  letter-spacing: 0.1em;
}

// cta 
.cta__contents {
    position: relative;
    max-width: 610px;
    margin-right:auto;
    margin-left:auto;
    width: 100%;
}
.cta__btn {
    position: absolute;
    left: 68%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 246px;
}
.cta._02 .cta__btn {
  left: 31%;
}
// cta-02
.cta-02 {
  background: $color-yellow-bg;
  padding:60px 0;
}
.cta-02__pc-wrapper {
  max-width: 604px;
  position: relative;
  margin-right:auto;
  margin-left:auto;
}
.cta-02__top-text {
  width: 100%;
  max-width: 100vw;
  max-width: 767px;
  margin-bottom: 20px;
  margin-right:auto;
  margin-left:auto;
}
.cta-02__middle-text {
  width: 80%;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 20px;
}
.cta-02__card {
  box-shadow: 3.48px 7.24px 10px 0px rgba(132, 133, 128, 0.84);
  margin-bottom: 16px;
  max-width: 698px;
  margin-right:auto;
  margin-left:auto;
  margin-right:auto;
  margin-left:auto;
}
.cta-02__bottom-text {
  font-size: 20px;
  margin-bottom: 16px;
}
.cta-02__bottom-text span{
  position: relative;
  display: inline-block;
}
.cta-02__bottom-text span::before,
.cta-02__bottom-text span::after{
  position: absolute;
  display: block;
  content: "";
  background: $color-black;
}
.cta-02__bottom-text span::before {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}
.cta-02__bottom-text span::after {
  width: 10px;
  height: 8px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0 0, 50% 100%, 100% 0%);
  box-sizing: border-box;
}
.cta-02__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin-right:auto;
  margin-left:auto;
}
// sec-01
.sec-01 {
  margin-top: 40px;
}
.sec-01__image {
  max-width: 353px;
  width: 100%;
  margin-right:auto;
  margin-left:auto;
}
.sec-01__image video {
  aspect-ratio: 353 / 203;
  width: 100%;
  display: block;
}

// sec-02 
.sec-02 {
  padding-top: 100px;
}
.sec-02__inner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.sec-02 .section-title {
  text-align: left;
}
.sec-02 .section-title::after {
  transform: none;
  left: 0;
}
.sec-02__images {
  max-width: 50%;
  position: relative;
  display: block;
}
.sec-02__images video {
  width: 100%;
}
.sec-02__image.__01 {
  top: 0;
  left: 0;
}
.sec-02__image.__02 {
  top: 10%;
  right: 0;
  width: calc( 143 / 294 * 100% );
  z-index: 1;
}
.sec-02__image.__03 {
  bottom: 0;
  left: 20%;
}
// sec-03

.sec-03__card {
  text-align: center;
  padding: 30px 16px;
  background-color: $color-white;
}
.sec-03__card + .sec-03__card {
  margin-top: 30px;
}
.sec-03__card-head {
  margin-bottom: 30px;
  text-align: center;
  color: $color-blue;
  font-weight: $normal;
  font-size: 22px;
}
.sec-03__card-head .line {
  position: relative;
  display: inline-block;
  padding: 3px 16px;
}
.sec-03__card-head .line::before ,
.sec-03__card-head .line::after {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-top:1px solid $color-blue;
  border-bottom:1px solid $color-blue;
}
.sec-03__card-head .line::before {
  top: 0;
}
.sec-03__card-head .line::after {
  bottom: 0;
}
.sec-03__card-images {
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
}
// sec-04
.sec-04__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 70px 40px;
  justify-content: center;
}
.sec-04__item {
  position: relative;
  z-index: 1;
  background-color: $color-white;
  padding: 36px 25px 24px;
  max-width: 418px;
  width: 100%;
}
.sec-04__item::before ,
.sec-04__item::after {
  position: absolute;
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 40px;
}
.sec-04__item::before {
  top: 0;
  left: 0;
  transform: translate(-50%,-25%);
  border-top: 2px solid $color-blue;
  border-left: 2px solid $color-blue;
}
.sec-04__item::after {
  bottom: 0;
  right: 0;
  transform: translate(50%,25%);
  border-bottom: 2px solid $color-blue;
  border-right: 2px solid $color-blue;
}
.sec-04__item-number {
  position: absolute;
  width: 121px;
  z-index: -1;
  top: 20px;
  left: 25px;
}
.sec-04__item-head {
  text-align: center;
  font-size: 26px;
  color: $color-blue;
  margin-bottom: 26px;
}
.sec-04__item:nth-child(1) .sec-04__item-head {
  margin-bottom: 73px;
}
.sec-04__item-description {
  max-width: 540px;
  margin-right:auto;
  margin-left:auto;
  text-align: justify;
  letter-spacing: 0.05em;
}
// sec-05
.sec-05 {
  background-color: transparent;
  background-image: url(../image/flow-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.sec-05__item {
  display: flex;
  gap: 20px;
}
.sec-05__item + .sec-05__item {
  margin-top: 20px;
}
.sec-05__item-step {
  max-width: 88px;
  width: 100%;
}
.sec-05__item-arrow {
  max-width: 27px;
  width: 100%;
  margin-right:auto;
  margin-left:auto;
  margin-top: 34px;
}
.sec-05__item-card {
  width: 100%;
  background: $color-white;
  padding: 28px 30px;
  margin-top: 20px;
}
.sec-05__item-head {
  text-align: center;
  color: $color-blue;
  font-size: 32px;
  font-weight: $normal;
  margin-bottom: 25px;
}
.sec-05__item-body {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.sec-05__item-description {
  font-size: 19px;
  width: 70%;
  text-align: justify;
}
.sec-05__item-description .small {
  font-size: 0.8em;
}
.sec-05__item-image {
  width: 25%;
}
// sec-06
.sec-06__text-contents {
  gap: 24px 12px;
  margin-bottom: 70px;
  grid-template-rows: repeat(2,1fr);
}
.sec-06__item {
 background-color: #9e9a9a; 
 color: $color-white;
 padding: 16px ;
}
.sec-06__item-head {
  margin-bottom: 24px;
  font-size: 20px;
}
.sec-06__item-list li {
  font-size: 14px;
  padding-left: 18px;
  position: relative;
  line-height: 1.5;
}
.sec-06__item-list li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 10px;
  height: 2px;
  background: $color-white;
}
.sec-06__item-list li + li {
  margin-top: 10px;
}
.sec-06__col-wrapper {
  overflow-x: scroll;
}
.sec-06__col-container p {
  color: $color-blue;
  font-size: 14px;
  margin-top: 10px;
}
.sec-06__calcel {
  display: flex;
  flex-direction: column;
  gap: 38px;
  max-width: 850px;
  margin-right:auto;
  margin-left:auto;
}

// sec-07
.sec-07__description {
  font-size: 32px;
  margin-bottom: 54px;
}
.sec-07__card {
  margin-right:auto;
  margin-left:auto;
  display: flex;
}
.sec-07__card-image {
  width: 32%;
}
.sec-07__card-image picture{
  display: block;
  height: 100%;
}
.sec-07__card-image img{
  height: 100%;
  object-fit: cover;
}

.sec-07__card + .sec-07__card {
  margin-top: 80px;
}
.sec-07__card-body {
  padding: 30px 40px;
  background: $color-white;
  width: 68%;
  text-align: center;
}
.sec-07__card-head {
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.sec-07__card-head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: $color-black;
}
.sec-07__card-head-main {
  font-size: 32px;
  font-family: $second-font-family;
  font-weight: $normal;
  line-height: 1;

}
.sec-07__card-price {
  font-size: 24px;
  color: $color-red;
  .strong {
    font-weight: $bold;
    font-size: 1.5em;
  }
  .small {
    font-size: 0.75em;
  }
}
.sec-07__card-description {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}
.sec-07__card-contents {
  display: flex;
  justify-content: center;
  gap:16px 16px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-width: 500px;
  margin-right:auto;
  margin-left:auto;
}
.sec-07__card-item {
  max-width: 128px;
  width: 100%;
}
.sec-07__card-item-icon {
  max-width: 60px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 16px;
}
.sec-07__card-item-text {
  font-size: 16px;
}
.sec-07__card-alert {
  color: $color-blue;
  font-size: 16px;
  position: relative;
  padding-left: 30px;
  display: inline-block;
}
.sec-07__card-alert::before {
  content: "※";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.sec-07__card-list {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.sec-07__card-list li:nth-child(odd) {
  flex-basis: 290px;
  margin-right: 10px;
} 
.sec-07__card-list li {
  font-size: 20px;
  line-height: 2;
  position: relative;
  padding-left: 20px;
}
.sec-07__card-list li::before {
  content: "・";
  position: absolute;
  top: 0;
  left: 0;
}

// .sec-08
.sec-08 {
  background-color: $color-white-bg;
  padding-bottom: 120px
}
.sec-08__item-quastion,
.sec-08__item-answer {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.sec-08__item-quastion {
  background-color: $color-light-gray;
  // border-bottom: 2px solid $color-black;
}
.sec-08__item-answer {
  background-color: $color-white;
}
.sec-08__item-icon {
  font-size: 32px;
}
.sec-08__item-description {
  font-size: 20px;
}
.sec-08__item-answer p {
  color: $color-blue;
}
.sec-08__item-head,
.sec-08__item-description {
  padding-top: 12px;
  font-weight: $normal;
}
// .sec-09 
.sec-09 {
  background-image: url(../image/finish-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px
}
.sec-09 .section-title {
  margin-bottom: 60px;
}
.sec-09__inner {
  max-width: 812px;
}
.sec-09__body {
  display: flex;
  gap: 30px;
}
.sec-09__text > p {
  text-align: left;
}
.sec-09__text > p:first-child {
  margin-bottom: 50px;
}
.sec-09__text {
  margin-bottom: 70px;
}
.sec-o9__image {
  max-width: 252px ;
  margin-right:auto;
  margin-left:auto;
}
// fix-contents 
.fix-contents {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100%;
  max-width: 320px;
  z-index: 1024;
}
.fix-contents a {
  display: block;
  width: 100%;
}
/* =======================
PC用背景
======================= */
// about-bg-wrapper
.about-bg-wrapper {
  background-image: url(../image/pc/about-bg-PC.webp);
  background-size: cover;
  background-position:bottom;
  background-repeat: no-repeat;
  padding-top: 60px;
}
.example-bg-wrapper {
  background-image: url(../image/pc/example-bg-PC.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.flow-bg-wrapper {
 background-color: $color-white-bg; 
 padding-bottom: 80px;
}
.area-bg-wrapper {
  background-image: url(../image/pc/area-bg-pc.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.plan-bg-wrapper {
  background-image: url(../image/plan-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}