@use "../global" as *;
/* ================================
ページ全体レイアウト
=============================== */ 
// キービジュアル
.kv__image {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
}
.kv__inner {
    position: relative;
}
.kv__logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}
.kv__texts {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    text-align: center;
    color: $color-white;
    font-weight: $bold;
    text-shadow: 0 0 8px $color-light-gray;
    white-space: nowrap;
}
.kv__texts--main {
    font-size: 32px;
    line-height: 1.5;
}
.kv__texts--sub {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 16px;
}

// cta 
.cta__contents {
    position: relative;
}
.cta__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
}