@use "../global" as *;
/* ================================
スマホレイアウト
=============================== */ 
@include mq(md) {
  // キービジュアル
  .kv {
    margin-bottom: 40px;
  }
  .kv__logo {
    top: 20px;
    left: 20px;
    width: 120px;
  }
  .kv__texts {
    top: 20%;
    transform: translateX(-50%);
    // font-size: calc(52 / 750* 100vw);
    // text-shadow:
    // 0 0 8px rgba(231, 224, 215, 0.8),  
    // 0 0 15px rgba(231, 224, 215, 0.5), 
    // 2px 2px 3px rgba(43, 31, 26, 0.8);  
    width: calc(619 / 750 * 100vw);
  }
  .kv__texts--main {
    line-height: 1.5;
  }
  .kv__texts--sub {
    line-height: 1.5;
    margin-top: 0.7em;
  }

  // cta 
  .cta__contents {
    max-width: 704px;
  }
  .cta__btn {
    left: 50%;
    bottom: 10%;
    max-width: 100%;
    @media screen and (max-width:531px) {
      bottom: 5%;
    }
  }
  // cta-02
  .cta-02 {
    background: $color-yellow-bg;
    padding:30px 0;
  }
  .cta-02__top-text {
    margin-left: calc(50% - 50vw);
  }
  .sec-02__description {
    font-size: 15px;
  }
  .cta-02__pc-wrapper {
    max-width: 100%;
  }
  .cta-02__btn {
    width: 100%;
    position: static;
    transform: none;
    max-width: 100%;
  }
  // sec-01
  .sec-01 {
    margin-top: 0;
  }
  .sec-01__image {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
  }
  .sec-01__image video {
    aspect-ratio: 1024 / 565;
  }
  // sec-02 
  .sec-02 {
    background-image: url(../image/about-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
  }
  .sec-02__inner {
    display: block;
  }
  .sec-02 .section-title {
    text-align: center;
  }
  .sec-02 .section-title::after {
    transform: translateX(-50%);
    left: 50%;
  }
  .sec-02__description {
    text-align: center;
  }
  .sec-02__images {
    max-width: 100%;
  }
  .sec-02__images::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: calc(444 / 327 * 100%) ;
  }
  .sec-02__image {
    position: absolute;
    width: calc( 156 / 327 * 100% );
  }
  // sec-03
  .sec-03 {
    background-image: url(../image/example-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .sec-03__card-head {
    font-size: 20px
  }
  .sec-03__card-images {
    gap: 4px;
  }
  .sec-03__card.__01 {
    .sec-03__card-images {
      grid-template-rows: auto;
      grid-template-columns: calc(119 / 318 * 100%) 1fr 1fr ;
    }
    .sec-03__card-image:nth-child(1) {
      grid-area: 1 / 2 / 4 / 4; 
    }
    .sec-03__card-image:nth-child(2) {
      grid-area: 3 / 1 / 4 / 2; 
    }
    
    .sec-03__card-image:nth-child(3) {
      grid-area: 1 / 1 / 3 / 2; 
    }
  }
  .sec-03__card.__02 {
    .sec-03__card-images {
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr calc(119 / 318 * 100%)
    }
    .sec-03__card-image:nth-child(1) {
      grid-area: 1 / 1 / 4 / 3; 
    }
    .sec-03__card-image:nth-child(2) {
      grid-area: 3 / 3 / 4 / 4; 
    }
    
    .sec-03__card-image:nth-child(3) {
      grid-area: 1 / 3 / 3 / 4; 
    }
  }
  .sec-03__card.__03 {
    .sec-03__card-images {
      grid-template-rows: auto;
      grid-template-columns: 32.2% 1fr 1fr ;
    }
    .sec-03__card-image:nth-child(1) {
      grid-area: 1 / 2 / 5 / 5; 
    }
    .sec-03__card-image:nth-child(2) {
      grid-area: 1 / 1 / 3 / 2; 
    }
    
    .sec-03__card-image:nth-child(3) {
      grid-area: 3 / 1 / 5 / 2; 
    }
  }
  // sec-04
  .sec-04 {
    background-image: url(../image/reason-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .sec-04__body {
    display: block;
  }
  .sec-04__item-number {
    top: 10px;
    left: 15px;
    width: calc(210 / 750 * 100%);
  }
  .sec-04__item-head {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .sec-04__item:nth-child(1) .sec-04__item-head {
    margin-bottom: 10px;
  }
  .sec-04__item + .sec-04__item {
    margin-top: 80px;
  }
  // sec-05
  .sec-05__item {
    position: relative;
  }
  .sec-05__item-step {
    width: 60px;
    top: 0;
    left: 0;
    position: absolute;
  }
  .sec-05__item-number {
    box-shadow: 0 0 4px #ccc;
    border-radius: 50%;
  }
  .sec-05__item-arrow {
    display: none;
  }
  .sec-05__item-card {
    padding: 16px 20px;
    margin-top: 20px;
    width: 100%;
    margin-left: 15px;
  }
  .sec-05__item-description {
    font-size: 16px;
    width: 100%;
  }
  .sec-05__item-description .small {
    font-size: 0.75em;
  }
  .sec-05__item-head {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .sec-05__item-image {
    display: none;
  }

  // sec-06 
  .sec-06 {
    background-image: url(../image/area-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .sec-06__calcel {
    flex-direction: row;
    gap: 20px;
    min-width: 1600px;
    max-width: none;
    margin: 8px;
  }

  // sec-07 
  .sec-07__card {
    max-width: 674px;
    display: block;
  }
  .sec-07__card-image {
    width: 100%;
  }
  .sec-07__card-image picture{
    height: auto;
  }
  .sec-07__card-image img{
    height: auto;
  }
  .sec-07__card-body {
    padding: 20px;
    width: 100%;
    text-align: left;
  }
  .sec-07__description {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .sec-07__card-head {
    display: block;
  }
  .sec-07__card-head-main {
    font-size: 24px;
  }
  .sec-07__card-description {
    margin-bottom: 20px;
    text-align: left;
  }
  .sec-07__card-contents {
    margin-bottom: 20px;
  }
  .sec-07__card-item {
    max-width: calc((100% - 32px) / 3);
  }
  .sec-07__card-list {
    margin-bottom: 40px;
  }
  .sec-07__card-alert {
    display: block;
    font-size: 14px;
    padding-left: 20px;
  }
  // sec-08
  .sec-08 {
    padding-bottom: 100px;
  }
  // sec-09
  .sec-09 {
    padding-bottom: 80px;
  }
  .sec-09 .section-title {
    margin-bottom: 24px;
  }
  .sec-09__body {
    display: block;
  }
  .sec-09__text > p {
    text-align: center;
  }
  .sec-09__text > p:first-child {
    margin-bottom: 40px;
  }
  .sec-o9__image {
    max-width: 392px ;
  }
  // fix-contents 
  .fix-contents {
    bottom: 0;
    left: 0;
    right: auto;
    width: 100%;
    max-width: 100%;
  }
  .fix-contents__image {
    max-width: 750px;
    margin-right:auto;
    margin-left:auto;
  }
  @media screen and (min-width:751px) {
    .fix-contents {
      background-color: #4ca62f;
    }
    .fix-contents__image {
      margin-top: -28px;
    }
  }
  /* =======================
  PC用背景
  ======================= */
  .about-bg-wrapper,
  .example-bg-wrapper,
  .area-bg-wrapper {
    background-image: none;
    padding: 0;
  }
  .flow-bg-wrapper,
  .plan-bg-wrapper {
    padding-bottom: 40px;
  }
}