@use "../global" as *;
/* ================================
スマホレイアウト
=============================== */ 
@include mq(md) {
  // キービジュアル
  .kv__logo {
    top: 20px;
    left: 20px;
    width: 120px;
  }
  .kv__texts {
    top: 20%;
    font-size: calc(52 / 750* 100vw);
    text-shadow:
    0 0 8px rgba(231, 224, 215, 0.8),  /* 光彩（外側） */
    0 0 15px rgba(231, 224, 215, 0.5), /* さらにぼかした光彩 */
    2px 2px 3px rgba(43, 31, 26, 0.8);  /* ドロップシャドウ */ 
  }
  .kv__texts--main {
    line-height: 1.5;
  }
  .kv__texts--sub {
    line-height: 1.5;
    margin-top: 0.7em;
  }

  // cta-02
  .cta-02__top-text {
    margin-left: calc(50% - 50vw);
  }
  .sec-02__description {
    font-size: 15px;
  }

  // sec-04
  .sec-04__item-number {
    top: -16px;
  }
  .sec-04__item-head {
    margin-bottom: 10px;
  }

  // sec-05
  .sec-05__item-step {
    width: 18%;
  }
  .sec-05__item-card {
    padding: 16px 20px;
    margin-top: 20px;
  }
  .sec-05__item-description {
    font-size: 16px;
  }
  .sec-05__item-head {
    font-size: 24px;
    margin-bottom: 12px;
  }

  // sec-07 
  .sec-07__description {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .sec-07__card-description {
    margin-bottom: 20px;
  }
  .sec-07__card-contents {
    margin-bottom: 20px;
  }
  .sec-07__card-head {
    font-size: 24px;
    font-family: $second-font-family;
  }
}